build

# Ignore MAC hidden folders
.DS_Store

# Ignore GRADLE wrapper
.gradle

.idea/**/*
!.idea/codeStyleSettings.xml

# Ignore all IDEA project files
*.iml
*.eml

# Ignore all Eclipse project files
.project
.classpath

# Ignore all local configurations
local.properties
gradle.properties


